<!DOCTYPE html>
<html lang="en">
 
<style>
    .text-center {
        border-style: solid;
        border-width: 1px;
        border-radius: 20px;
        border-color: #596773;
        color: #596773;
        position: relative;
        top: 50px;
        padding: 5px;
    }
 
    #purple {
    color: #fff;
    background-color: #A101FF;
    border-color: #A101FF;
    }
 
    #purple:hover {
    background-color: #7500c0;
    color: #ffffff;
    border-color: #ffffff;
    }
    .button {  
        background-color: #A101FF; /* Purple */  
        border: none;  
        color: white;  
        padding: 15px 32px;  
        text-align: center;  
        text-decoration: none;  
        display: inline-block;  
        font-size: 16px;  
        margin: 4px 2px;  
        cursor: pointer;  
    }  
  
    .button1 {  
        border-radius: 2px;  
    }  
  
    .button2 {  
        border-radius: 4px;  
    }  
  
    .button3 {  
        border-radius: 8px;  
    }  
  
    .button4 {  
        border-radius: 12px;  
    }  
  
    .button5 {  
        border-radius: 50%;  
    }  
 
</style>
 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RTWPortal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.rtow.azurewebsites.net"]);
  _paq.push(["setDoNotTrack", true]);
  _paq.push(["disableCookies"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://azurewebsites.matomo.cloud/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src='//cdn.matomo.cloud/azurewebsites.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://azurewebsites.matomo.cloud/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id= "navi">
                <a class="navbar-brand" href="#"><img src="~/images/accenture.png" width="30" height="30" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index"> <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1z"/></svg>Home</a>
                        </li>
                        
                        <li cLass="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Offices/Index"><img src="~/images/admin.svg" width="30" height="30" alt="">Offices</a>
                        </li>
 
                        <div id="center">
        <!-- Pop Up Window -->
<div id="center">
    <div>
    <fieldset class="text-left">    
        <div class="container">  
            <div class="row">  
                <div class="col-xs-12">  
                <li class="nav-item">
                            <a class="nav-link" id="btnShowModal"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 12h-2v-2h2v2zm0-4h-2V6h2v4z"/></svg>Feedback</a>
                        </li>
  
                    <div class="modal fade" tabindex="-1" id="loginModal"  
                         data-keyboard="false" data-backdrop="static">  
                        <div class="modal-dialog modal-lg">  
                            <div class="modal-content">  
                                <div class="modal-header">                                     
                                    <button type="button" class="close" data-dismiss="modal">  
                                        ×  
                                    </button> 
                                  <div class="modal-body"> 
                                       <div class="text-center" Style="margin-top:20px"
            <h><strong>How was your experience ?</strong></h2><br><br>
            <p><strong>Please Select Your Feedback Category Below:</strong></p>
    <div class="container">
        <div class="feedback-rating-scale">
 
        <input type="radio" class="radio-emoji" name="radio-emoji" id="emoji-1" value="1">
        <label class="label-emoji" for="emoji-1" data-toggle="tooltip" data-placement="bottom" title="Bad">😡</label>Bad &nbsp;
 
        <input type="radio" class="radio-emoji" name="radio-emoji" id="emoji-2" value="2">
        <label class="label-emoji" for="emoji-2" data-toggle="tooltip" data-placement="bottom" title="Below Average">🙁</label> Below Average &nbsp; 
 
        <input type="radio" class="radio-emoji" name="radio-emoji" id="emoji-3" value="3">
        <label class="label-emoji" for="emoji-3" data-toggle="tooltip" data-placement="bottom" title="Average">😐</label> Average &nbsp; 
 
        <input type="radio" class="radio-emoji" name="radio-emoji" id="emoji-4" value="4">
        <label class="label-emoji" for="emoji-4" data-toggle="tooltip" data-placement="bottom" title="Very Good">🙂</label> Very Good &nbsp; 
 
        <input type="radio" class="radio-emoji" name="radio-emoji" id="emoji-5" value="5">
        <label class="label-emoji" for="emoji-5" data-toggle="tooltip" data-placement="bottom" title="Excellent">😍</label> Excellent &nbsp; 
    </div>
                                  
                  <form method="post">
                   <div class="form-group">
                    <label for="InputInfo"></label>
                    <textarea class="form-control" id="InputInfo" rows="5" placeholder="Give us your Feedback"></textarea>
                </div>
                <input type="submit" id="purple" class="btn btn-primary button button4">
               
              </form>
                
                                     
            </div>
          </div>  
            
                        
  <div class="modal-footer">  
                                     
                                </div>  
                            </div>  
                            </div>  
                        </div>  
                    </div>  
  
                </div>  
            </div>  
        </div>  
    </fieldset>  
  </div>
</div>
                        
                    </ul>
                </div>   
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
 
 
    <br><br><br><br><footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - RTWPortal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">  
    </script>  
    <script src="bootstrap/js/bootstrap.min.js"></script>  
  
    <script type="text/javascript">  
        $(document).ready(function () {  
            $("#btnShowModal").click(function () {  
                $("#loginModal").modal('show');  
            });  
  
            $("#btnHideModal").click(function () {  
                $("#loginModal").modal('hide');  
            });  
        });  
    </script> 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 
 

