@page
@model FeedbackModel
@{
    ViewData["Title"] = "Feedback";
}
<style>
    
.radio-emoji {
  position: absolute;
  left: -9999px;
}

.radio-emoji + label {
  font-size: 20px;  
  padding: 6px;
  border-radius: 4px; 
}

.radio-emoji + label:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}

.radio-emoji:checked + label {
  background-color: #e0e0e0; 
}

.label-emoji.inactive {
  opacity: 0.25;

}
.container {
padding: 50px;

}
</style>

<
  <div class="text-center" style="margin-top:30px">

        <h2>We Would Like Your Feedback</h2>   
</div>
<div class="text-center" Style="margin-top:20px">
            <h3><strong>How was your experience ?</strong></h3><br>
            <p><strong>Please select Your Feedback Category below:</strong></p>
    <div class="container">
        <div class="feedback-rating-scale">

        <input type="radio" class="radio-emoji" name="radio-emoji" id="emoji-1" value="1">
        <label class="label-emoji" for="emoji-1" data-toggle="tooltip" data-placement="bottom" title="Bad">😡</label>Bad &nbsp; &nbsp; 

        <input type="radio" class="radio-emoji" name="radio-emoji" id="emoji-2" value="2">
        <label class="label-emoji" for="emoji-2" data-toggle="tooltip" data-placement="bottom" title="Below Average">🙁</label> Below Average &nbsp; &nbsp; 

        <input type="radio" class="radio-emoji" name="radio-emoji" id="emoji-3" value="3">
        <label class="label-emoji" for="emoji-3" data-toggle="tooltip" data-placement="bottom" title="Average">😐</label> Average &nbsp; &nbsp; 

        <input type="radio" class="radio-emoji" name="radio-emoji" id="emoji-4" value="4">
        <label class="label-emoji" for="emoji-4" data-toggle="tooltip" data-placement="bottom" title="Very Good">🙂</label> Very Good &nbsp; &nbsp; 

        <input type="radio" class="radio-emoji" name="radio-emoji" id="emoji-5" value="5">
        <label class="label-emoji" for="emoji-5" data-toggle="tooltip" data-placement="bottom" title="Excellent">😍</label> Excellent &nbsp; &nbsp; 
    
        </div>
    </div>
        <div>
              <label for="feedback"></label><br>
              <textarea name="Feedback" id="Feedback" cols="40" rows="5" placeholder="Leave Additional Comments Here"></textarea>
              <br><br><button type="button" id="purple" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>    
</div>
