@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top:30px">
    <h2 class="display-4">Welcome Back!</h2>
</div>

<div id="Home" class="container" style="margin-top:30px">
                <div class= "text-center">
                    <dt><strong>Home Office</strong><br></dt>
                    <dd>
                        <br><p>Chicago Innovation Lab</p>
                    </dd>
                
                    <dt><strong>Status</strong></dt>
                    <dd>
                        <br><p>&nbsp; ByInvitation Only</p>
                    </dd>
                    <small class="form-text text-muted">
                        Select any location by using the <strong>Offices</strong> option from the navigation bar.<br>
                        View your home office information with the <strong>Details</strong> button below.
                    </small>
                    <a href="/Home/Details"><button type="button" id="purple" class="btn btn-primary btn-lg" style= "margin-top:30px" > Details</button></a>               
                 </div>    
</div>
        
   