@page
@model ContosoUniversity.Pages.Students.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.FirstMidName" class="control-label"></label>
                <input asp-for="Student.FirstMidName" class="form-control" />
                <span asp-validation-for="Student.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.EnrollmentDate" class="control-label"></label>
                <input asp-for="Student.EnrollmentDate" class="form-control" />
                <span asp-validation-for="Student.EnrollmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Office" class="control-label"></label>
                <input asp-for="Student.Office" class="form-control" />
                <span asp-validation-for="Student.Office" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Region" class="control-label"></label>
                <input asp-for="Student.Region" class="form-control" />
                <span asp-validation-for="Student.Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Status" class="control-label"></label>
                <input asp-for="Student.Status" class="form-control" />
                <span asp-validation-for="Student.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.TemperatureCheck" class="control-label"></label>
                <input asp-for="Student.TemperatureCheck" class="form-control" />
                <span asp-validation-for="Student.TemperatureCheck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.FaceCoverings" class="control-label"></label>
                <input asp-for="Student.FaceCoverings" class="form-control" />
                <span asp-validation-for="Student.FaceCoverings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.VisitorsAllowed" class="control-label"></label>
                <input asp-for="Student.VisitorsAllowed" class="form-control" />
                <span asp-validation-for="Student.VisitorsAllowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LoginDate" class="control-label"></label>
                <input asp-for="Student.LoginDate" class="form-control" />
                <span asp-validation-for="Student.LoginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
