@page
@model FeedbackModel
@{
    ViewData["Title"] = "Form page";
}

<style>
    @* body {background-color: #BAC3CA;}  *@

    #details {
        border-style: solid;
        border-width: 1px;
        border-radius: 20px;
        position: relative;
        top: 100px;
    }

</style>

@* <body id="pagebody" runat="server"> *@
    <div class="text-center">
        <h1 class="display-4">Welcome Cycle 47</h1>
        @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    </div>

    <div id="details">
        <div><select class="custom-select">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select></div>
        <br>

        <select class="custom-select custom-select-lg mb-3">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
        <br>

        <select class="custom-select custom-select-sm">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
        <br><br>

        <button type="submit" class="btn-primary">Baby Button</button>
        <br><br><br>
        <button type="button" class="btn btn-primary btn-lg">Bigger button</button>
        <br><br><br>
        <button type="button" class="btn btn-primary btn-lg btn-block">Unecessarily large button</button>
    </div>

@* </body> *@