@page
@model AnalyticsModel
@{
    ViewData["Title"] = "Analytics";
}

<div class="text-center">

    <div>
    <h2>Analytics Information</h2>
    </div>

    <a href="https://azurewebsites.matomo.cloud/index.php?module=Widgetize&action=iframe&disableLink=0&widget=1&moduleToWidgetize=UserCountryMap&actionToWidgetize=visitorMap&idSite=1&period=day&date=yesterday&disableLink=1&widget=1"><button type="button" id="purple" class="btn btn-primary btn-lg" style= "margin-top:30px" >Visitor Map</button></a><br>

    <a href="https://azurewebsites.matomo.cloud/index.php?module=Widgetize&action=iframe&forceView=1&viewDataTable=sparklines&disableLink=0&widget=1&moduleToWidgetize=VisitsSummary&actionToWidgetize=get&idSite=1&period=day&date=yesterday&disableLink=1&widget=1"><button type="button" id="purple" class="btn btn-primary btn-lg" style= "margin-top:30px" >Visits Overview</button></a><br>

    <a href="https://azurewebsites.matomo.cloud/index.php?module=Widgetize&action=iframe&disableLink=0&widget=1&moduleToWidgetize=DevicesDetection&actionToWidgetize=getType&idSite=1&period=day&date=yesterday&disableLink=1&widget=1"><button type="button" id="purple" class="btn btn-primary btn-lg" style= "margin-top:30px" >Device Overview</button></a><br>

    <a href="https://azurewebsites.matomo.cloud/index.php?module=Widgetize&action=iframe&disableLink=0&widget=1&moduleToWidgetize=Insights&actionToWidgetize=getInsightsOverview&idSite=1&period=day&date=yesterday&disableLink=1&widget=1"><button type="button" id="purple" class="btn btn-primary btn-lg" style= "margin-top:30px" >Insights Overview</button></a><br>

    <br><a asp-page="./Index">Back to List</a>
</div>