@page
@model DetailsModel
@{
    ViewData["Title"] = "Office Details";
}


<div class="text-center">
        <h1 class=>Office Details</h1>   
</div>

    <div class="text-center" style="margin-top:20px">
        
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <ul style="list-style-type:none;">
                        <li><h3>Chicago Innovation Lab</h3></li>
                        <li><h6>Business Space/Project</li>
                        <li><br><h5>By Invitation Only</h5></li>
                        <li><br><strong>Region:</strong> Midwest</li>
                        <li><br><strong>Address:</strong><br> 500 W Madison St, 22nd & 23rd Floors</li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <ul style="list-style-type:none;">
                        <li><strong>Office Services:</strong> Full</li>
                        <li><strong>Visitors Allowed:</strong> Yes</li>
                        <li><strong>Temperature Checks:</strong> Conducting - Employee Self-Check</li>
                        <li><strong>Special Considerations:</strong> Physical Distancing</li>
                        <li><strong>Special Consideration Details:</strong> Onsite Temperature Checks end at 4pm</li>
                        <li><strong>Tech Support:</strong> Not currently</li>
                        <li><strong>Dress Code:</strong> Casual</li>
                        <li><strong>Additional Information:</strong> Visitors must call ahead of time.</li>
                        @* <li><br><br><button type="button" id="purple" class="btn btn-primary btn-lg">Export</button></li> *@
                    </ul>
                </div>
            </div>
        </div>     

    </div>
